{% block collection_widget %}
  {% if prototype is defined %}
    <form-collection prototype="{{ form_row(prototype) | escape('html_attr') }}">
      {% for child in form %}
        <form-entry>
          {{ form_row(child, {label: false}) }}
        </form-entry>
      {% endfor %}
    </form-collection>
  {% else %}
    {% for child in form -%}
      {% if not child.rendered %}
        {{- form_row(child, {label: false}) -}}
      {% endif %}
    {%- endfor %}
  {% endif %}
{% endblock %}

{% block option_widget %}
  <div class="form-option">
    <div data-null>
      {{ form_row(form.null) }}
    </div>
    <div data-child>
      {{ form_row(form.child) }}
    </div>
  </div>
{% endblock %}

{%- block widget_attributes -%}
  id="{{ id }}" name="{{ full_name }}"
  {%- if disabled %} disabled="disabled"{% endif -%}
  {%- if required %} required="required"{% endif -%}
  {%- for attrname, attrvalue in attr -%}
    {{- " " -}}
    {%- if attrname in ['placeholder', 'title'] -%}
      {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
    {%- elseif attrvalue is same as(true) -%}
      {{- attrname }}="{{ attrname }}"
    {%- elseif attrvalue is not same as(false) -%}
      {{- attrname }}="{{ attrvalue }}"
    {%- endif -%}
  {%- endfor -%}
{%- endblock widget_attributes -%}

{% block squire_widget %}
  <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
  <div class="squire-buttons">
    <button type="button" data-action="bold" data-tag="b" data-remove-action="removeBold"><b>B</b></button>
    <button type="button" data-action="italic" data-tag="i" data-remove-action="removeItalic"><i>I</i></button>
    <button type="button" data-action="underline" data-tag="u" data-remove-action="removeUnderline"><u>U</u></button>
  </div>
  <iframe src="{{ asset('bundles/adriensamsonformextra/squire/document.html') }}" class="squire"></iframe>
{% endblock %}
