<link rel="import" href="../polymer/polymer.html" />

<dom-module id="form-collection">

    <template>
        <div class="form-collection">
            <div class="form-collection-body">
                <content id="rows"></content>
            </div>
            <button type="button" class="add tiny" on-tap="add">Nouveau</button>
        </div>
    </template>

    <script>
        Polymer({
            is: "form-collection",
            properties: {
                prototype: {
                    type: String
                },
                prototypeName: {
                    type: String,
                    value: '__name__'
                },
                i: {
                    type: Number,
                    value: 0
                }
            },
            listeners: {
                remove: 'remove'
            },
            add: function (event) {
                var child = document.createElement('div');
                child.innerHTML = this.prototype.replace(new RegExp(this.prototypeName + 'label__', 'g'), '').replace(new RegExp(this.prototypeName, 'g'), this.i);
                var formEntry = document.createElement('form-entry');
                Polymer.dom(formEntry).appendChild(child);
                Polymer.dom(this).appendChild(formEntry);
            },
            remove: function (event) {
                Polymer.dom(this).removeChild(Polymer.dom(event).rootTarget);
            },
            ready: function () {
                var self = this;
                Polymer.dom(this.$.rows).observeNodes(function (info) {
                    self.i += info.addedNodes.length;
                });
            }
        });
    </script>
</dom-module>
