<link rel="import" href="../polymer/polymer.html" />

<dom-module id="form-entry">

    <template>
        <div class="row">
            <div class="small-10 columns">
                <content></content>
            </div>
            <div class="small-2 columns">
                <button type="button" class="tiny remove" on-tap="remove">Supprimer</button>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: "form-entry",
            remove: function (event) {
                this.fire('remove');
            }
        });
    </script>
</dom-module>
